*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
}
button{
    font:inherit;
}
a{
    text-decoration: none; 
    color: inherit;
}
ul,ol{
    list-style: none;
}
h1,h2{
    text-align: center;    
}
@media (min-width: 500px){
    .page{
    height: 100vh;
    overflow: hidden;
    display: flex;
    }
}
.page > aside{
    width:100px;
    border-right: 1px solid #ddd;
    text-align: center;
    flex-shrink: 0;
}
.page > aside > .upper{
    display: flex;
    flex-direction: column;
}
.button{
    padding: 3px;
    margin: 10px;
}
.page > main{
   flex-grow: 1;
}
