*{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.token.selctor{
    color: black;
}
.token.property{
    color: black;
}
.token.function{
    color: black;
}
#preCode{
    height: 100vh;
    overflow: hidden;
}